.loginBG {
  width: 100vw;
  height: 105vh;
  position: absolute;
  grid-column: 1/2;
  margin: -8px;
}

.login-panel {
  background-color: var(--secondary-color);
  width: 50vw;
  border-radius: 5px;
  margin: 25vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.login-panel h1 {
  width: 100%;
}

.login-panel input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding-left: 5px;
  color: black;
}
