* {
  --prim-color: #22333b;
  --secondary-color: #3f4238;
  color: #eae0d5;
  --card-color: #cae1ff
  --font-family: "Open Sans", sans-serif;
}

#root {
  grid-template-columns: 20% 80%;
  display: grid;
}
button {
  background: #ffe8d6;
  color: var(--prim-color);
  border-radius: 5px;
  padding: 5px 20px;
  font: normal bold 18px var(--font-family);
  text-align: center;
  margin-bottom: 10px;
}

button:hover {
  transition: all 0.3s;
  background: white;
}


.page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  grid-column: 2;
}